/* CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

/* Main defaults */
body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* General texts */
h2, label, input {
    margin: 12px 24px;
}

/* Defaults for all inputs */
input {
    border: 1px solid #E5E7EB; /* #E5E7EB */
    border-radius: 3px;
    padding: 6px 12px;
}

/* Blue outline when focused */
input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 2px 2px 4px #909090;
}

/* Invalid info highlight */
input:invalid {
    border-color: red;
}

/* Submit button */
input[type=submit] {
    font-weight: bold;
    color: white;
    background-color: #606060;
    padding: 6px 24px;
}

/* Flex both sections */
.page-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
}

/* Odin logo section */
.image-container {
    /* Text section */
    font-size: 120px;
    font-family: 'Norse';
    color: white;
    /* Background image */
    background-image: url('./images/photo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Misc */
    width: 35vw;
}

/* Form fields section */
.form-container {
    width: 65vw;
}

/* Long explanation paragraph */
.heads-up {
    padding: 12px 24px;
    font-size: 20px;
    max-width: 750px;
}
